/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Tahoma, sans-serif;
  line-height: 1.6;
  color: #333333;
  background-color: #f4f4f4;
  padding: 20px;
}

a {
  text-decoration: none; 
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Times New Roman', sans-serif;
}

/* Navbar Styling */
.navbar {
  font-family: 'Times New Roman', Times, serif;
  background-color: #003072;
  color: white;
  padding: 10px 100px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  justify-content: space-between;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.navbar li {
  margin-left: 20px;
  padding: 10px 0;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 8px;
}

.navbar a:hover {
  background-color: #0057b8;
  border-radius: 4px;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
  padding: 50px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.hero .logo img{
  width: 500px;
  height: auto;
}

.hero-content {
  max-width: 100%;
  margin-left: 30px;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #003072;
}

.hero p {
  font-size: 1.1rem;
  margin-bottom: 15px;
}

.hero-content p {
  margin-top: 10px;
}

.btn {
  background-color: #003072;
  color: white;
  padding: 10px 20px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
  font-family: 'Times New Roman', sans-serif;
}

.btn:hover {
  background-color: #efbb5c;
}

.container {
  background-color: #fff;
  padding: 50px;
  margin-top: 50px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  margin: 50px auto;
}

.container h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #003072;
}

.container p {
  font-size: 1.1rem;
  margin-bottom: 20px;
  color: #333333;
}

.container ul {
  list-style: none;
  margin: 0;
  padding-left: 20px;
}

.container ul li {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.container ul li strong {
  font-weight: bold;
}

.container a {
  color: #003072;
  text-decoration: none;
  font-weight: bold;
}

.container a:hover {
  text-decoration: underline;
}

.apply-now {
  text-align: left;
}

.apply-now h2 {
  font-size: 2rem;
  color: #003072;
  margin-bottom: 20px;
}

.apply-now p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  color: #555;
}

.apply-buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.apply-option {
  background-color: #fff;
  border: 2px solid #003072;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.apply-option h3 {
  font-size: 1.5rem;
  color: #003072;
  margin-bottom: 10px;
}

.apply-option p {
  font-size: 1rem;
  margin-bottom: 15px;
  color: #555;
}

.apply-option .btn {
  background-color: #003072;
  color: #fff;
  font-size: 1rem;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.apply-option .btn:hover {
  background-color: #efbb5c;
}

.apply-option:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0);
}

#scholarships {
  margin-top: 80px;
  padding: 50px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#scholarships h2 {
  font-size: 2.5rem;
  color: #003072;
  margin-bottom: 20px;
}

#scholarships p {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 20px;
}

.scholarships-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.scholarship-card {
  background-color: #fff;
  border: 2px solid #003072;
  border-radius: 10px;
  padding: 20px;
  width: 45%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.scholarship-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.scholarship-name {
  font-size: 1.8rem;
  color: #003072;
  margin-bottom: 10px;
}

.scholarship-by,
.scholarship-description,
.scholarship-amount,
.scholarship-eligibility {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.scholarship-by strong,
.scholarship-amount strong,
.scholarship-eligibility strong {
  font-weight: bold;
}

.scholarship-description {
  font-style: italic;
}

.scholarship-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
}

.btn {
  background-color: #003072;
  color: white !important;
  padding: 10px 20px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #efbb5c;
}

.contact-form {
  margin-top: 30px;
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 30px auto;
}

.contact-form label {
  display: block;
  margin-bottom: 8px;
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.contact-form textarea {
  height: 150px;
  resize: none;
}

.contact-form .form-button {
  background-color: #003072;
  color: white;
  font-size: 1.1rem;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.contact-form .form-button:hover {
  background-color: #efbb5c;
}

.contact-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  margin-top: 30px;
}

.contact-method {
  flex: 1;
  min-width: 280px;
  background-color: #fff;
  text-align: center;
}

.contact-method-heading {
  font-size: 1.5rem;
  color: #003072;
  margin-bottom: 10px;
  font-weight: bold;
}

.contact-method-text {
  font-size: 1rem;
  color: #555;
  margin-bottom: 15px;
}

.contact-link {
  display: inline-block;
  font-size: 1rem;
  color: #003072;
  font-weight: bold;
  margin: 5px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.contact-link:hover {
  color: #efbb5c;
  transform: scale(1.1);
}

#contact-us {
  margin-top: 80px;
}

.section-heading {
  font-size: 2rem;
  color: #003072;
  margin-bottom: 20px;
}

.section-description, .eligibility-description {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 20px;
}

.eligibility-heading {
  font-size: 1.5rem;
  color: #003072;
  margin-bottom: 10px;
}

.form-link-container {
  margin-top: 20px;
}

.btn a {
  color: white;
  text-decoration: none;
}

.essay-container {
  background-color: #fff;
  padding: 50px;
  margin-top: 80px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
}